
.files-list h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.files-list ul {
  list-style: none;
  padding: 0;
}

.files-list li {
  margin-bottom: 5px;
}

.files-list a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.files-list a:hover {
  color: #0056b3;
}



.video-status {
  margin-top: 1rem;
  text-align: center;
}

.progress-bar {
  position: relative;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  margin: 10px 0;
}

.progress-bar-fill {
  position: absolute;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 0.3s ease;
}
