.contact-info {
  position: relative;
  display: flex;
  align-items: center;
}

.contact-info p {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 200;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.contact-info:hover p {
  visibility: visible;
  opacity: 1;
}

.contact-info .icon {
  width: 50px;
  margin-right: 10px;
  cursor: pointer;
}




/* Dans votre fichier CSS */
@media screen and (max-width: 1000px) {
  .responsive-container {
    flex-direction: column; /* Change l'alignement en colonne */
  }

  .responsive-container > .first-box,
  .responsive-container > .second-box,
  .responsive-container > .third-box {
    width: 100%; /* Assurez-vous que chaque box occupe toute la largeur */
    margin-bottom: 20px; /* Ajoute un espacement entre les box */
  }
}
