.control__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #fff;
}

.bottom__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slider__container {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.time-display {
  margin: 16px 16px;
  font-size: 14px;
  color: #fff;
}

.chakra-iconbutton {
  font-size: 18px; 
  width: 32px; 
  height: 32px;
  padding: 0; 
}

.slider__container .chakra-slider__track {
  background-color: #555;
}

.slider__container .chakra-slider__filled-track {
  background-color: #007bff;
}

.slider__container .chakra-slider__thumb {
  background-color: #fff;
}

.chakra-slider__thumb,
.chakra-slider__track,
.chakra-slider__filled-track {
  height: 6px;
}

.chakra-slider__thumb {
  width: 14px;
  height: 14px;
}

.volume-slider {
  width: 100px; 
}

.chakra-slider__track.volume-slider-track {
  background: rgba(255, 255, 255, 0.3);
}

.chakra-slider__filled-track.volume-slider-filled {
  background: #fff;
}

.chakra-slider__thumb.volume-slider-thumb {
  background: #fff;
}

.chakra-iconbutton {
  color: white;
  background: transparent;
}
